body{
  background-color: #DDDDDD;
}
a{
  color: white;
  font-size: 80%;
  text-decoration: none;
}
a:hover{
color: black;
}
.be{
  background-color:#4D77FF;
  display: inline-block;
  height:100px;
  width: 100px;

  border-radius: 100%;
  margin-left: 0;
  margin-right: 10%;
}
.b{
  background-color: #4D77FF;
  display: inline-block;
  height:100px;
  width: 100px;

  border-radius: 100%;

}
.be:hover{
  background-color:#F24A72;
}
.b:hover{
    background-color:red;
}
.background{
  height:350px;
  background-image: url("pbl_2.jpg");
  background-size: contain;
  background-repeat: repeat;
  margin-top: 0;
  background-color: #0AA1DD;
  border-style: ridge;
  border-radius: 5px;
  border-width: 20px;
  border-color: #F0A500;

  }
.box {
  margin-top: 0;
  background-color: #ffffff;
  opacity: 0.6;
  padding-top: 20%;
}
h1{
  font-size: 200%;
  color: #4700D8;
  display: inline-block;
  position: absolute;
  left:3.5%;
  top:10%;
  font-weight: bold;
  text-align: center;
}
.buttons{
  margin-left: 30%;
  margin-right: 0;
  margin-top: 10%;
}
